header {
    position: relative !important;
}

.chalets {
    background-color: #f8f8f8;
    padding: 120px 0;
    text-align: center;

    h1 {
        font-size: 36px;
        margin-bottom: 100px;
    }

    .chalets-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;

        .chalet {
            width: 45%;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;

            .chalet-image,
            .chalet-text {
                flex: 1;
            }

            .chalet-image {
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                }
            }

            .chalet-text {
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
                text-align: left;

                h2 {
                    font-size: 24px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 16px;
                    color: #555;
                    margin-bottom: 15px;
                }

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        margin-bottom: 5px;
                        font-size: 14px;
                        color: #777;
                    }
                }
            }
        }
    }
}
